﻿@model GfkExampleCode.Web.Models.InterviewViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Html.DisplayFor(model => model.Interview.Description)</h3>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Interview.Id)

    <p><input type="submit" name="Save" value="Save" /></p>

    <table class="table">

        <tr>
            <th>
                Please Answer the following questions!
            </th>
            <th></th>
        </tr>

        @for (var indexQuestion = 0; indexQuestion < Model.Interview.Questions.Count; indexQuestion++)
        {

            <tr>
                <td>
                    @Html.HiddenFor(model => model.Interview.Questions[indexQuestion].Id)
                    @Html.HiddenFor(model => model.Interview.Questions[indexQuestion].OneAnswerPossible)
                    @Html.DisplayFor(model => model.Interview.Questions[indexQuestion].Id).)
                    @Html.HiddenFor(model => model.Interview.Questions[indexQuestion].Description)
                    @Html.DisplayFor(model => model.Interview.Questions[indexQuestion].Description)
                    

                    <table class="table">
                        @for (var indexAnswer = 0; indexAnswer < Model.Interview.Questions[indexQuestion].Answers.Count; indexAnswer++)
                        {
                            <tr>
                                <td>
                                    @Html.HiddenFor(model => model.Interview.Questions[indexQuestion].Answers[indexAnswer].Id)
                                    @Html.CheckBoxFor(model => model.Interview.Questions[indexQuestion].Answers[indexAnswer].Choice)
                                    @Html.HiddenFor(model => model.Interview.Questions[indexQuestion].Answers[indexAnswer].Description)
                                    @Html.DisplayFor(model => model.Interview.Questions[indexQuestion].Answers[indexAnswer].Description)
                                </td>                                
                            </tr>
                        }

                    </table>

                    @if (Model.Interview.Questions[indexQuestion].OneAnswerPossible)
                    {
                        <em>Remarks: only one answer can be selected.</em><br/>
                    }
                    else
                    {
                        <em>Remarks: one or more answers can be selected.</em><br />
                    }

                    @Html.ValidationMessageFor(model => model.Interview.Questions[indexQuestion], null , new { @class = "text-danger" })

                </td>
                              
               

            </tr>

        }

    </table>

    <input type="submit" name="Save" value="Save" />

}

