﻿@model GfkExampleCode.Web.Models.InterviewViewModel

@{
    ViewBag.Title = "Interviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Interviews</h2>

<table class="table">
    <tr>
        <th>
            Select your interview
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Interviews) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
    </tr>
}

</table>
